* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Fauna One', serif;
}

body,
html {
  height: 100%;
}

.main-wrapper {
  height: 100%;
  width: 100%;
}

.main-wrapper,
header {
  max-width: 1366px;
  margin: 0 auto;
}
header {
  padding: 0 138px;
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.header-flex {
  justify-content: space-between;
  padding: 27px 0;
}

.section {
  height: 100%;
  width: calc(100% / 9);
  float: left;
  position: relative;
}
/* .section {
  background: #f8f3e9;
} */

.section .row {
  margin: 0;
}

.sections {
  width: 900%;
  height: 100%;
  padding-top: 98px;
}
.section__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #000;
}

.section1 {
  padding-left: 138px;
  max-width: 81.5vw;
}
.section1-title {
  font-family: 'Proxima Nova Bold';
}
.section1-img {
  min-height: 92.9vh;
}
.section1-subtitle {
  color: #00334d;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Bold';
  margin: auto 0px 40px;
  letter-spacing: 1.2px;
  line-height: 24px;
}

.content-area {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: calc(100vh - 98px);
  padding: 50px 0px 139px;
}

.section2 {
  margin-top: 100px;
  margin-left: 0px;
}
.section2-img {
  display: block;
  width: 100%;
  margin-left: 15px;
}
.jl-image-card {
  width: 660px;
  height: 485px;
}
.jl-image-content{
  margin-left: 10px;
}
.section2-subtext {
  color: #be851e;
  font-size: 40px;
  min-width: 634px;
  line-height: 51px;
  font-weight: 500;
  z-index: 999;
  margin: 0px;
}

.section2-arrow {
  margin-top: 40px;
  margin-left: 194px;
}
.section2-arrow:hover {
  cursor: pointer;
}
.blue-bold-text {
  text-transform: uppercase;
  color: #00334d;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 24px;
  font-family: 'Proxima Nova Bold';
  margin: 0;
}

.section2-subheading {
  font-size: 12px;
  margin: 50px 0px 0px ;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 24px;
  font-family: 'Proxima Nova Bold';
  text-transform: uppercase;
  color: #be851e;
}
.section2-sub-text {
  letter-spacing: 0px;
  margin-top: 35px;
  max-width: 38vw;
  margin-bottom: 0;
  line-height: 1.3;
  font-size: 28px;
  color: #00334d;
  font-family: 'Freight Medium';
}
/* SECTION-3 */

.section3-img {
  height: 92.9vh;

}
.section3-img2 {
  position: absolute;
  right: 0;
  bottom:0;
  height: 50vh;
  object-fit: cover;
}
.section3-arrow {
  top: 93vh;
  position: absolute;
  left: 65vw;
}
.section3-arrow:hover {
  cursor: pointer;
}
/* SECTION 4 */
.section4 {
  margin-left: 153px;
  display: flex;
  align-items: center;
}
.section4 .row{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.section4 .col{
  width: 100%;
}

.section4 .ml-25{
  margin-left: 25px;
}

.section4-img {
  width: 807px;
}
.section4-arrow {
position: absolute;
bottom: 40px;
right: 0;
}
.section4-arrow:hover {
  cursor: pointer;
}
.section5{
  padding-left: 135px;
}
.section5-img1 {
  max-height: 568px;
}
.section5-img2 {
  height: 444px;
  position: absolute;
  bottom: -20px;
  left: 460px;
}
.section6-img {
  height: 100vh;
  /* width: 100vw; */
  /* left: -30vw; */
  object-fit: cover;
}
/* SECTION SEVEN */
.section7-subtext {
  color: #be851e;
  font-size: 40px;
  width: 50vw;
  position: absolute;
  z-index: 999;
}
.section6 {
  max-width: 71.5vw;
}
.section7 {
  /* max-width: 70vw; */
}
.section7 .row,.section8 .row{
    height: calc(100vh - 98px);
}

.section7-img {
  height: 568px;
}
.section7-arrow {
position: absolute;
bottom: 40px;
}
.section7-arrow:hover {
  cursor: pointer;
}

.section7-text {
  height: calc(100% - 100px);
  margin-top: 100px;
}

/* SECTION-8 */
.section8{
  left: -17vw;
}
.section-image-wrapper{
  height: 100%;
}

.section8-subtext {
  color: #be851e;
  font-size: 40px;
  width: 50vw;
  position: absolute;
  z-index: 999;
}
.section8-img {
  display: block;
  height: 568px;
}


.mobile-view {
  display: none;
}
.yellow-mid-text {
  color: #be851e;
  font-family: 'Freight Medium';
  font-size: 24px;
  line-height: 1.3;
}
.blue-mid-text {
  color: #00334d;
  font-size: 18px;
  margin-top: 15px;
  line-height: 1.3;
  font-family: 'Freight Medium';
}
.yellow-small-text {
  color: #be851e;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 8px;
  font-family: 'Proxima Nova Bold';
}

.yellow-line {
  display: inline-block;
  background: #e6d2ac;
  margin-bottom: 5px;
  width: 30px;
  height: 2px;
}
.yellow-div {
  position: relative;
}
.yellow-line-2 {
  display: inline-block;
  background: #e6d2ac;
  position: absolute;
  top: 50vh;
  left: 0;
  width: 138px;
  height: 3px;
}
@media (max-width: 768px) {
  .web-view {
    display: none;
  }
  .mobile-view {
    display: block;
    text-align: center;
  }
  .brand-logo-mobile {
    margin-top: 100px;
  }
  .section1-img-mobile {
    margin-top: 25px;
    max-height: 70vh;
    width: 100vw;
    object-fit: cover;
  }
  .scrollmagic-pin-spacer {
    display: none;
  }
  .section-text-spacing {
    margin-left: 30px;
    margin-right: 50px;
  }
  .section-1-text-mobile {
    text-align: left;
    margin-top: 30px;
  }
  .section-2-mobile {
    text-align: left;
    margin-top: 35px;
  }

  .section2-img1 {
    margin-top: 25px;
    max-height: 50vh;
    width: 100%;
  }
  .section3-img1 {
    margin-top: 35px;
    height: 80vh;
    object-fit: cover;
    width: 100%;
  }
  .section-3-mobile {
    position: relative;
  }
  .section3-img2 {
    top: 70%;
    left: -8%;
    transform: rotate(90deg) scale(0.8);
  }
  .section-4-mobile {
    text-align: left;
    position: relative;
    margin-top: 210px;
  }
  .section4-img1 {
    margin-top: 25px;
    margin-bottom: 25px;
    max-height: 50vh;
    width: 100%;
  }
  .section4-img2 {
    margin-top: 10px;
    margin-bottom: 25px;
    max-height: 50vh;
    width: 100%;
  }
  .section4-img3 {
    position: absolute;
    top: 80%;
    left: -30%;
    transform: rotate(90deg) scale(0.7);
  }
  .section-5-mobile {
    text-align: left;
    position: relative;
    margin-top: 330px;
  }
  .section5-img1 {
    margin-top: 35px;
    height: 65vh;
  }
  .section-6-mobile {
    text-align: left;
    position: relative;
    margin-top: 550px;
  }
  .section6-img1 {
    margin-top: 25px;
    max-height: 60vh;
    width: 100%;
  }
  .section6-img2 {
    margin: 40px 0px;
    max-height: 60vh;
    width: 100%;
  }
}
