* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Fauna One', serif;
}

body,
html {
  height: 100%;
}

.main-wrapper {
  height: 100%;
  width: 100%;

}

.main-wrapper,
header {
  max-width: 1366px;
  margin: 0 auto;
  padding-left:138px;

}
header{
  padding: 0 138px;
}
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.header-flex{
  justify-content: space-between;
  padding: 27px 0;
}


.section {
  height: 100%;
  width: calc(100% / 9);
  float: left;
  position: relative;
}
/* .section {
  background: #f8f3e9;
} */

.section .row{
  margin: 0;
}

.sections {
  width: 900%;
  height: 100%;
  padding-top: 98px;
}
.section__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #000;
}

.section1-title {
  font-family: 'Proxima Nova Bold';
}
.section1-img {
  min-height: 92.9vh;
  /* height: 100vh;
  width: 524px;
  position: absolute;
  top: 0;
  left: 62vh;
  z-index: 99;
  object-fit: scale-down; */
}
.section1-subtitle {
  color: #00334d;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Bold';
}

.content-area{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: calc(100vh - 98px);
    padding:50px 0px 139px;
}

.section2-subtext {
  color: #be851e;
  font-size: 40px;
  min-width: 40vw;
  line-height: 1.3;
  /* position: absolute; */
  word-spacing: 13px;
  z-index: 999;
}
.section2 {
  margin-top: 15vh;
  margin-left: 30px;
}
.section2-img {
  /* top: 20vh;
  max-height: 65vh;
  position: absolute;
 left: -68vh; */
  display: block;
  width: 100%;
  margin-left: 15px;
}
.section2-arrow {
  margin-top: 6vh;
  margin-left: 9vw;
}
.section2-arrow:hover {
  cursor: pointer;
}
.blue-bold-text {
  text-transform: uppercase;
  color: #00334d;
  font-size: 12px;
  font-family: 'Proxima Nova Bold';
}

.section2-text {
  /* position: absolute;
  top: 18vh;
  left: 11.5vw; */
  margin-top: -1.3vh;
  margin-left: 1.3vh;
  font-family: 'Proxima Nova Bold';
}
.section2-subheading {
  font-size: 12px;
  margin-top: 45px;
  text-transform: uppercase;
  color: #be851e;
}
.section2-sub-text {
  margin-top: 35px;
  max-width: 35vw;

  line-height: 1.3;
  font-size: 28px;
  color: #00334d;
  font-family: 'Freight Medium';
}
/* SECTION-3 */
.section3 {
  max-width: 80vw;
}
.section3-img {
  height: 92.9vh;
  margin-left: -15vw;
  /* position: absolute;
  height: 90vh;
  width: 70vw;
  left: -33vw;
  object-fit: cover; */
}
.section3-img2 {
  position: absolute;
  top: 45vh;
  left: 40vw;
  height: 50vh;
  object-fit: cover;
}
.section3-arrow {
  top: 93vh;
  position: absolute;
  left: 65vw;
}
.section3-arrow:hover {
  cursor: pointer;
}
/* SECTION 4 */
.section4 {
  margin-top: 23vh;
}
.section4-subtext {
  color: #be851e;
  font-size: 40px;
  max-width: 50vw;
  position: absolute;
  z-index: 999;
}
.section4-img {
  width: 100%;
  /* top: 20vh;
  height: 65vh;
  position: absolute;
  left: -25vw; */
}
.section4-arrow {
  /* top: 90vh;
  position: absolute;
  left: 70vw; */
  margin-top: 20vh;
  margin-left: 65%;
}
.section4-arrow:hover {
  cursor: pointer;
}

.section4-text {
  margin-top: -1.3vh;
  /* position: absolute;
top: 18vh;
  left: 27.5vw; */

  font-family: 'Proxima Nova Bold';
}
.section4-subheading {
  margin-top: 45px;
  font-size: 12px;
  text-transform: uppercase;
  color: #be851e;
}
.section4-sub-text {
  margin-top: 35px;
  max-width: 35vw;
  line-height: 1.3;
  font-size: 28px;
  color: #00334d;
  font-family: 'Freight Medium';
}
.section5-img1 {
  height: 80vh;
  position: absolute;
  left: -10vw;
}
.section5-img2 {
  height: 60vh;
  top: 40vh;
  position: absolute;
  left: 10vw;
}
.section6-img {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: -30vw;
  object-fit: cover;
}
/* SECTION SEVEN */
.section7-subtext {
  color: #be851e;
  font-size: 40px;
  width: 50vw;
  position: absolute;
  z-index: 999;
}
.section6 {
  max-width: 72vw;
}
.section7 {
  max-width: 70vw;
}
.section7-img {
  /* top: 20vh;
  height: 75vh;
  position: absolute;
  left: 27vw; */
  height: 100%;
}
.section7-arrow {
  margin-top: 35vh;
  /* top: 90vh;
  position: absolute;
  left: -27.5vw; */
}
.section7-arrow:hover {
  cursor: pointer;
}

.section7-text {
  margin-top: 11vh;
  margin-right: 3vw;
  font-family: 'Proxima Nova Bold';
}
.section7-subheading {
  margin-top: 45px;
  font-size: 12px;
  text-transform: uppercase;
  color: #be851e;
}
.section7-sub-text {
  margin-top: 35px;
  max-width: 35vw;
  line-height: 1.3;
  font-size: 28px;
  color: #00334d;
  font-family: 'Freight Medium';
}
/* SECTION-8 */
.section8-subtext {
  color: #be851e;
  font-size: 40px;
  width: 50vw;
  position: absolute;
  z-index: 999;
}
.section8-img {
  /* top: 20vh;
  height: 75vh;
  position: absolute;
  left: -45vw; */
  width: 109%;

  display: block;
}
.section8-arrow {
  margin-top: 5vh;
  /* top: 90vh;
  position: absolute;
  left:  9vw; */
}
.section8-arrow:hover {
  cursor: pointer;
}

.section8-text {
  margin-top: 11vh;
  margin-left: 5vw;
  font-family: 'Proxima Nova Bold';
}
.section8-subheading {
  margin-top: 45px;
  font-size: 12px;
  text-transform: uppercase;
  color: #be851e;
}
.section8-sub-text {
  margin-top: 35px;
  max-width: 35vw;
  line-height: 1.3;
  font-size: 28px;
  color: #00334d;
  font-family: 'Freight Medium';
}
.mobile-view {
  display: none;
}
.yellow-mid-text {
  color: #be851e;
  font-family: 'Freight Medium';
  font-size: 24px;
  line-height: 1.3;
}
.blue-mid-text {
  color: #00334d;
  font-size: 18px;
  margin-top: 15px;
  line-height: 1.3;
  font-family: 'Freight Medium';
}
.yellow-small-text {
  color: #be851e;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 8px;
  font-family: 'Proxima Nova Bold';
}

.yellow-line {
  display: inline-block;
  background: #e6d2ac;
  margin-bottom: 5px;
  width: 30px;
  height: 2px;
}
.yellow-div {
  position: relative;
}
.yellow-line-2 {
  display: inline-block;
  background: #e6d2ac;
  position: absolute;
  top: 44.5vh;
  left: 0;
  width: 13vw;
  height: 3px;
}
@media (max-width: 768px) {
  .web-view {
    display: none;
  }
  .mobile-view {
    display: block;
    text-align: center;
  }
  .brand-logo-mobile {
    margin-top: 100px;
  }
  .section1-img-mobile {
    margin-top: 25px;
    max-height: 70vh;
    width: 100vw;
    object-fit: cover;
  }
  .scrollmagic-pin-spacer {
    display: none;
  }
  .section-text-spacing {
    margin-left: 30px;
    margin-right: 50px;
  }
  .section-1-text-mobile {
    text-align: left;
    margin-top: 30px;
  }
  .section-2-mobile {
    text-align: left;
    margin-top: 35px;
  }

  .section2-img1 {
    margin-top: 25px;
    max-height: 50vh;
    width: 100%;
  }
  .section3-img1 {
    margin-top: 35px;
    height: 80vh;
    object-fit: cover;
    width: 100%;
  }
  .section-3-mobile {
    position: relative;
  }
  .section3-img2 {
    top: 70%;
    left: -8%;
    transform: rotate(90deg) scale(0.8);
  }
  .section-4-mobile {
    text-align: left;
    position: relative;
    margin-top: 210px;
  }
  .section4-img1 {
    margin-top: 25px;
    margin-bottom: 25px;
    max-height: 50vh;
    width: 100%;
  }
  .section4-img2 {
    margin-top: 10px;
    margin-bottom: 25px;
    max-height: 50vh;
    width: 100%;
  }
  .section4-img3 {
    position: absolute;
    top: 80%;
    left: -30%;
    transform: rotate(90deg) scale(0.7);
  }
  .section-5-mobile {
    text-align: left;
    position: relative;
    margin-top: 330px;
  }
  .section5-img1 {
    margin-top: 35px;
    height: 65vh;
  }
  .section-6-mobile {
    text-align: left;
    position: relative;
    margin-top: 550px;
  }
  .section6-img1 {
    margin-top: 25px;
    max-height: 60vh;
    width: 100%;
  }
  .section6-img2 {
    margin: 40px 0px;
    max-height: 60vh;
    width: 100%;
  }
}
