/* HEADER CSS */
.header-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    z-index: 100;
}
.header-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 18px 0;
}
.flex-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-item-1{
    width: 30%;
}
.flex-item-2{
    width: 40%;
}
.flex-item-3{
    width: 30%;
}
.hamburger .line{
    width: 16px;
    height: 2px;
    background-color: #355B6E;
    display: block;
    margin: 2px 4px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#hamburger-1 .line:nth-child(2){
    width: 12px;
}
#hamburger-1 .line:nth-child(3){
    width: 16px;
}
.hamburger:hover{
    cursor: pointer;
}
#hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
}
#hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
}
#hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(2px) rotate(45deg);
    -ms-transform: translateY(2px) rotate(45deg);
    -o-transform: translateY(2px) rotate(45deg);
    transform: translateY(2px) rotate(45deg);
}
#hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-6px) rotate(-45deg);
    -ms-transform: translateY(-6px) rotate(-45deg);
    -o-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
    width: 16px;
}
.img-logo{
    min-width: 200px;
    max-width: 250px;
}
/* FOOTER CSS */
.footer_container{
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer_ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer_ul li{
    letter-spacing: 1px;
}
.footer_ul li a{
    margin-right: 15px;
}
.footer_ul li a:hover,
.footer_ul li a:focus{
    color: #fff;
}
.footer_ul .fa{
    width: 32px;
}
.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.single_footer ul li{
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    font-size: 15px;
}
.social_profile{
    margin-top: 25px;
}
.social_profile a{
    color: #ab7d23;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 5px;
}
.social_profile a:hover{
    color: #fff;
    background:  transparent;
    transition: background 0.6s ease-in-out;
}   
.up-arrow{
    float: right;
}
#section04 a {
    padding-top: 60px;
}
#section04 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}
@keyframes sdb04 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

@media only screen and (max-width:768px) { 
    .single_footer{margin-bottom:30px;}
}
/* HOME/INDEX PAGE CSS */
.slider-text{
    line-height: 51px;
    width: 580px;
    position: absolute;
    left: 100px;
    z-index: 5;
    top: 54%;
}
.owl-demo .b_item img {
    display: block;
    width: 100%;
    height: auto;
}

.slide-progress {
    width: 0;
    max-width: 100%;
    height: 4px;
    background: #D5B16F;
}
.sec-eight{
    height: 80vh;
}
.section-title{
    display: inline-block;
    line-height: 25px;
    margin: 0px 5px;
}
.section-title:before{
    content: '';
    border: 1px solid #E6D2AC;
    position: absolute;
    left: 0px;
    width: 100px;
    bottom: 0px;

}
.carousel-ideas_insights {
    margin: 50px auto;
    padding: 0 7%;
    width: 100%;
    position: relative;
}
.carousel-ideas_insights .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
}
.zoom-effect-container {
    position: relative;
    width: 100%;
    min-height: 260px;
    margin: 0 auto;
    overflow: hidden;
}
.image-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.image-card img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}
.zoom-effect-container:hover .image-card img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}
.carousel-ideas_insights .left-arrow,
.carousel-ideas_insights .right-arrow,
.carousel-ideas_insights .left-arrow:focus,
.carousel-ideas_insights .right-arrow:focus{
    height: 50px;
    width: 50px;
    padding: 15px 0;
    text-align: center;
    background: #E6D2AC;
    z-index: 10;
}
.carousel-ideas_insights .left-arrow:hover,
.carousel-ideas_insights .right-arrow:hover{
    background: #FFF;
}
.carousel-ideas_insights .left-arrow{
    position: absolute;
    top: 50%;
    left: 0px;
}
.carousel-ideas_insights .right-arrow{
    position: absolute;
    top: 50%;
    right: 0px;
}
.item-date{
    margin: 20px 0;
}
.item-desc{
    line-height: 29px;
}
.first-section{
    display: flex;
    width: 100%;
    position: relative;
}
.first-section .item-1{
    width: 30%;
    display: flex;
    align-items: center;
}
.first-section .item-2{
    width: 70%;
    padding: 30px 0 40px;
}
.section-title_left{
    display: inline-block;
    line-height: 25px;
    margin: 0 5px 0 100px;
}
.section-title_left:before{
    content: '';
    border: 1px solid #E6D2AC;
    position: absolute;
    transform: translateX(-100px);
    width: 100px;
    bottom: 0px;
  
}
/* TIMELINE */
.rl-timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.rl-timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #E6D2AC;
    top: 15%;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.rl-container {
    position: relative;
    background-color: inherit;
    width: 50%;
}
.rl-container-1{
    padding: 10px 40px;
}
.rl-container-2{
    padding: 10px 60px 10px 10px;
}
.rl-left {
    left: 0;
}
.rl-right {
    left: 50%;
}
.rl-content {
    position: relative;
    border-radius: 6px;
    text-align: left;
}
.timeline-text_1{
    line-height: 24px;
    font-family: 'Proxima Nova Bold';
    margin: 0 0 0 260px;

}
.timeline-text_2{
    line-height: 35px;
    font-family: 'Freight Medium';
}
.my-btn{
    background: url(../images/iconsSVG/Concierge\ Button.svg) no-repeat center;
    background-size: cover;
    width: 160px;
    padding: 10px;
}
.my-btn--submit{
    background: url(../images/iconsSVG/Submit\ Button.svg) no-repeat center;
    background-size: cover;
    width: 160px;
    padding: 10px;
}
.my-btn--submit:hover,
.my-btn--submit:focus{
    background: url(../images/iconsSVG/Submit\ Button-1.svg) no-repeat center;
    color: #fff;
    background-size: cover;
    width: 160px;
    padding: 10px;
}
.my-btn:hover,
.my-btn:focus{
    background: url(../images/iconsSVG/ConciergeButton-1.svg) no-repeat center;
    color: #fff;
    background-size: cover;
    width: 160px;
    padding: 10px;
}
@media screen and (max-width: 1024px) {
    .timeline-text_1{
        margin: 0px;
    }
}
@media screen and (max-width: 600px) {
    .rl-timeline::after {
        left: 31px;
    }
    .rl-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .rl-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .rl-left::after, .right::after {
        left: 15px;
    }
    .rl-right {
        left: 0%;
    }
}
.rl-parallax {
    background: url(../images/banners/Kiton-Big-Image.png);
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.para-quality{
    width: 75%;
    margin: 30px auto;
}
.owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.slide-progress {
    width: 0;
    max-width: 100%;
    height: 4px;
    background: #D5B16F;
}
/* SCROLL HOME PAGE CSS */
.scroll_wrapper {
    min-height: 100vh;
    color: #000;
    position: relative;
}
.scroll_section {
    min-height: 100vh;
    display: flex;
}
.scroll_nav__wrapper {
    position: fixed;
    height: 100%;
    padding: 30px;
    display: flex;
    background: transparent;
    flex-flow: column nowrap;
    justify-content: center;
    right: 0;
}
.scroll_wrapper .nav {
    position: relative;
    margin: 0 30px 100px 0;
    text-align: right;
}
.scroll_wrapper .nav__counter {
    font-size: 24px;
    transition: all 0.15s ease-out;
}
.scroll_wrapper .nav__title {
    font-size: 12px;
    margin: 0;
    width: auto;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
    display: inline-block;
    color: #E6D2AC;
    font-family: 'Proxima Nova Bold';
    letter-spacing: 2px;
    /*
    -ms-writing-mode: tb-rl; 
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    -ms-transform: rotate(180deg);
    */
}
.scroll_wrapper .nav__body {
    font-weight: 100;
    font-size: 18px;
    font-size: 18px;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
.scroll_wrapper .nav li {
    position: relative;
    transition: all 0.3s ease-out;
    /*    margin-bottom: 1em;*/
}
.scroll_wrapper .nav li:after {
    content: '';
    display: block;
    border-top: 1px solid #E6D2AC;
    height: 200px;
    width: 15px;
    position: absolute;
    right: -30px;
    top: 0px;
}
.scroll_wrapper .nav li a {
    display: block;
    padding: 0;
    color: #000;
    transition: all 0.15s ease-out;
}
.scroll_wrapper .nav li a:hover {
    background-color: transparent;
    padding-left: 1em;
}
.scroll_wrapper .nav li a:focus {
    background-color: transparent;
}
.scroll_wrapper .nav li.active {
    pointer-events: none;
    padding-left: 1em;
}
.scroll_wrapper .nav li.active:after {
    width: 25px;
    height: 400px;
    top: 15px;
    border-width: 2px;
}
.scroll_wrapper .nav li.active .nav__counter {
    font-size: 48px;
}
.scroll_wrapper .nav li.active .nav__title {
    height: 40px;
    opacity: 1;
    overflow: visible;
}
.scroll_wrapper .nav li.active .nav__body {
    height: 100px;
    opacity: 1;
    overflow: visible;
}
.second-section{
    display: flex;
    width: 100%;
    position: relative;
}
.second-section .item-1{
    width: 30%;
    display: flex;
    align-items: center;
    position: relative
}
.second-section .item-2{
    width: 70%;
    padding: 10px 0 10px;
}

.second-section--text{
    text-align: center;
    color: #D5B16F;
    position: absolute;
    left: -75px;
    top: 25%;
}

.secondthumnailone{
    position: absolute;
    left: -60px;
    top: 50%;
}

.third-section{
    display: flex;
    width: 100%;
    position: relative;
    padding: 0px 0 50px;
}
.third-section .item-1{
    width: 40%;
}
.third-section .item-2{
    width: 60%;
}

.link_buttons li {
    overflow: hidden;
    list-style: none;
    white-space:nowrap;
    margin-right: 10px;
    display: block;
    text-align:right;
    margin: 10px 0 30px;;
}
.link_buttons li a {
    opacity: 0;
    max-width: 0;
    display: inline-block;
    text-decoration: none;
    transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color;
}
.link_buttons li a:hover,
.link_buttons li a:focus{
    color: #BE851E;
}

.link_buttons li a i {
    float:right;
    display: block;
    padding-right: 1em;
}
.link_buttons li img {
    margin: 0 10px;
    display: inline-block;
    cursor: pointer;
}
.link_buttons li:hover a {
    opacity: 1;
    max-width: 220px;
    transition:opacity 0.7s ease-out .1s, color .2s;
}
.brand_logo-block{
    text-align: center;
}
.brand_logo-block li{
    display: inline-block;
    margin: 20px 15px;
}
.fifth-section{
    display: flex;
    width: 100%;
    position: relative;
}
.fifth-section .item-1{
    width: 25%;
    display: flex;
    align-items: center;
    position: relative
}
.fifth-section .item-2{
    width: 75%;
    padding: 50px 0 10px;
    height: 500px;
    position: relative;
}
.fifth-text{
    margin: 10px 0px 0 100px;
    width: 55%;
}
.fifth-right_imag-1{
    position: absolute;
    left: -320px;
    top: 100px;
}
.fifth-right_imag-2{
    position: absolute;
    left: -30px;
    bottom: -295px;
    width: 300px;
}
.fifth-left_imag-1{
    position: absolute;
    left: 37%;
    top: 50%;
}
.timeline_section{
    min-height: auto;
    padding: 100px 0px 50px !important;
    margin: 50px 0 0;
}
.fifth_link-0{
    position: absolute;
    bottom: -300px;
    right: 260px;
}
.fifth_link-1{
    position: absolute;
    bottom: -180px;
    left: -300px;
}
.fifth_link-2{
    position: absolute;
    bottom: -300px;
    left: -90px;

}
.space-block{
    width: 100%; 
    display: block; 
    height: 330px;
}
@media screen and (min-width: 1800px) {
    .scroll_section{
        min-height: auto !important;
    }
    .section2{
        margin: 240px 0;
    }
    .third-section {
        padding: 0px 0 80px;
    }
    .font-size_ss {
        font-size: 20px;
    }
    .font-size_s {
        font-size: 22px;
    }
    .font-size_xxxl {
        font-size: 65px;
    }
    .font-size_big {
        font-size: 42px;
    }
    .ls-1 {
        letter-spacing: 2px;
    }
    .img-logo{
        min-width: 360px;
        max-width: 400px;
    }
    .header-flex {
        padding: 40px 0;
    }
    .first-section .item-2 {
        padding: 130px 0 10px;
    }
    .hamburger .line {
        width: 22px;
        height: 4px;
    }
    #hamburger-1 .line:nth-child(2) {
        width: 18px;
    }
    #hamburger-1 .line:nth-child(3) {
        width: 22px;
    }
    #hamburger-1.is-active .line:nth-child(1) {
        -webkit-transform: translateY(2.5px) rotate(45deg);
        -ms-transform: translateY(2.5px) rotate(45deg);
        -o-transform: translateY(2.5px) rotate(45deg);
        transform: translateY(2.5px) rotate(45deg);
    }
    #hamburger-1.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-10px) rotate(-45deg);
        -ms-transform: translateY(-10px) rotate(-45deg);
        -o-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
        width: 22px;
    }
    .concierge-icon{
        width: 24px;
    }
    
    .slider-text {
        line-height: 70px;
        width: 950px;
    }
    .section-title_left {
        margin: 0 5px 0 150px;
    }
    .section-title_left:before {
        width: 140px;
    }
    .slider-text {
        left: 140px;
    }
    .timeline-text_2 {
        line-height: 48px;
    }
    .rl-container-2 {
        padding: 20px 20px 50px 50px;
    }
    .timeline-text_1 {
        margin: 0 0 0 86px;
        line-height: 40px !important;
    }
    .my-btn {
        width: 300px;
        padding: 20px;
    }
    .my-btn img{
        width: 28px;
    }
    .second-section--text {
        text-align: center;
        color: #D5B16F;
        position: absolute;
        left: -115px;
        top: 20%;
    }
    .secondthumnailone {
        left: -80px;
        top: 50%;
        width: 600px;
    }
    .link_buttons li img{
        width: 40px;
    }
    .link_buttons li:hover a {
        font-size: 32px;
        max-width: 250px;
    }
    .link_buttons li {
        margin: 20px 0 40px;
    }
    .brand_logo-block {
        margin-bottom: 50px;
    }
    .brand_logo-block li {
        margin: 20px;
    }
    .brand_logo-block li img{
        width: 180px;
    }
    .rl-parallax {
        height: 1000px;
    }
    .para-quality {
        width: 100%;
        margin: 50px auto;
    }
    .section{
        margin: 150px auto;
    }
    .slide-progress {
        height: 8px;
    }
    .fifth-section .item-2 {
        width: 70%;
        height: 800px;
    }
    .fifth-section .item-1 {
        width: 30%;
    }
    .fifth-text {
        margin: 30px 0px 0 200px;
        width: 50%;
        line-height: 52px;
    }
    .fifth-right_imag-1 {
        left: -550px;
        top: 130px;
        width: 800px;
    }
    .fifth-left_imag-1 {
        width: 480px;
        position: absolute;
        left: 40%;
        top: 50%; 
    }
    .fifth-right_imag-2 {
        left: -10px;
        bottom: -350px;
        width: 450px;

    }
    .fifth_link-2 {
        bottom: -400px;
        left: -150px;
    }
    .fifth_link-0 {
        bottom: -400px;
        right: 400px;
    }
    .fifth_link-1 {
        bottom: -260px;
        left: -470px;
    }
    .link_buttons li img {
        margin: 0 20px;
    }
    .font-size_xxl {
        font-size: 40px;
        line-height: 42px !important;
    }
    .zoom-effect-container {
        min-height: 500px;
    }
    .item-date {
        margin: 30px 0;
    }
    .img-icon--arrow{
        width: 40px;
    }
    .carousel-ideas_insights .left-arrow,
    .carousel-ideas_insights .right-arrow,
    .carousel-ideas_insights .left-arrow:focus,
    .carousel-ideas_insights .right-arrow:focus {
        height: 80px;
        width: 80px;
        padding: 20px 0;
    }
    .footer_container{
        padding: 100px 150px;
    }
    .footer_ul li {
        letter-spacing: 2px;
    }
    .single_footer ul li {
        line-height: 70px;
        font-size: 32px;
    }
    .social_profile a {
        font-size: 50px;
        margin-right: 25px;
    }
    .scroll_wrapper .nav li:after {
        content: '';
        display: block;
        border-top: 2px solid #E6D2AC;
        height: 300px;
        width: 40px;
        position: absolute;
        right: -30px;
        top: 0px;
    }
    .scroll_wrapper .nav li {
        margin-bottom: 1em;
    }
    .scroll_wrapper .nav li.active:after {
        width: 60px;
        border-width: 4px;
    }
    .scroll_wrapper .nav__title {
        font-size: 22px;
        margin: 0 35px;
    }

}
@media only screen and (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px) {
    .fifth-left_imag-1 {
        left: 25%;
    }
    .fifth-right_imag-1 {
        left: -500px;
    }
}
@media only screen and (min-width: 1680px) and (max-width: 1680px) and (min-height: 1050px) and (max-height: 1050px) {
    .scroll_section{
        min-height: auto !important;
    }
    .fifth-left_imag-1 {
        left: 40%;
    }
}
@media only screen and (min-device-width: 1800px) and (max-device-width: 2000px) {
    .fifth-left_imag-1 {
        width: 480px;
        position: absolute;
        left: 330px;
        top: 50%;
    }
    .fifth_link-1 {
        left: -400px;
    }

    .fifth_link-0 {
        right: 320px;
    }
    .fifth-right_imag-1 {
        left: -420px;
        top: 175px;
        width: 740px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .font-size_xxxl {
        font-size: 28px;
    }
    .slider-text {
        line-height: 38px;
        width: 550px;
        margin: 20px 0 0;
    }
    .timeline_section {
        padding: 50px 0px !important;
    }
    .font-size_big {
        font-size: 24px;
    }
    .secondthumnailone {
        width: 230px;
        left: -30px !important;
    }
    .brand_logo-block li {
        margin: 20px;
    }
    .fifth-text {
        margin: 10px 0px 0 50px !important;
    }
    .fifth-section .item-2 {
        height: 400px !important;
    }
    .fifth-left_imag-1 {
        left: 80px !important;
        width: 200px;
        top: 65% !important;
    }
    .fifth-right_imag-1 {
        left: -200px !important;
        top: 180px !important;
        width: 350px;
    }
    .fifth-right_imag-2 {
        left: -20px !important;
        bottom: -180px !important;
        width: 200px;
    }
    .fifth_link-1 {
        bottom: -140px !important;
        left: -200px !important;
    }
    .fifth_link-0 {
        bottom: -200px !important;
        right: 200px !important;
    }
    .fifth_link-2 {
        bottom: -200px !important;
        left: -120px !important;
    }
    .space-block{
        height: 250px !important;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .first-section,
    .first-section,
    .second-section,
    .second-section,
    .third-section,
    .third-section,
    .fifth-section,
    .fifth-section{
        flex-wrap: wrap;
    }
    .first-section .item-1,
    .first-section .item-2,
    .second-section .item-1,
    .second-section .item-2,
    .third-section .item-1,
    .third-section .item-2,
    .fifth-section .item-1,
    .fifth-section .item-2{
        width: 100% !important;
        display: block !important;
    }
    .scroll_nav__wrapper{
        display: none;
    }
    .header-flex{
        padding: 0px;
    }
    .flex-item{
        padding: 10px 0;   
    }
    .flex-item-2{
        width: 100%;
        order: 1;
    }
    .flex-item-1{
        width: 50%;
        order: 2;
    }
    .flex-item-3{
        width: 50%;
        order: 3;
    }
    .section1{
        padding-top: 150px;
    }
    .slider-text{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        line-height: 26px;
        padding: 20px 10px;
    }
    .font-size_xxxl {
        font-size: 26px;
    }
    .first-section .item-2 {
        padding: 10px 0 10px;
    }
    .timeline_section {
        padding: 50px 0px 50px !important;
        margin: 0px !important;
    }
    .second-section--text{
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        margin: 0px 10px;
        width: 100%;
        display: block;
    }
    .first-btn{
        position: absolute;
        top: -100px;
        right: 0;
    }
    .second-btn{
        display: none !important;
    }
    .secondthumnailone{
        display: none;
    }
    .brand_logo-block li {
        margin: 20px;
    }
    .font-size_big {
        font-size: 24px;
    }
    .para-quality {
        width: 90%;
    }
    .fifth-section .item-2{
        height: auto !important;
        padding: 50px 10px !important;
    }
    .fifth-text{
        width: 100% !important;
        margin: 0px !important;
        padding: 10px;
    }
    .fifth-right_imag-1,
    .fifth-left_imag-1,
    .fifth-right_imag-2 {
        position: relative !Important;
        left: 0px !important;
        top:0px !important;
        bottom:0px !important;
        width: 100% !Important;
        transform: none !Important;
    }
    .fifth_link-1,
    .fifth_link-2,
    .fifth_link-0{
        position: relative !Important;
        left: 0px !important;
        bottom: 0px !important;
        right: 0px !important;
    }
    .fifth_link-1 li,
    .fifth_link-2 li,
    .fifth_link-0 li{
        margin: 10px auto 40px !important;
        text-align: center !important;
    }
    .space-block{
        display: none !Important;
    }

}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    .scroll_section{
        min-height: auto;
    }
    .sec-eight{
        height: auto;
    }
    .rl-parallax {
        height: 400px;
    }
}