.contact-menu--btn {
  cursor: pointer;
}
.contact-menu {
    z-index: 9999;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  color: #fff;
  transform: scaleX(0);
  width: 100vw;
  opacity: 0;
  transition: all ease-in 0.3s;
  height: 100vh;
  background: #00334d;
}

.contact-menu > * {
  color: #fff;
}
.contact-menu--row {
  /* padding: 3rem 10rem; */
  padding:5vh 10vw 2vh 10vw;
}
.close-contact-menu--btn {
    font-weight: bolder;
  cursor: pointer;
}
.left-contact--form > * {
  color: #ab7d23;
}



/* NAV MENU */
.nav-menu{
    z-index: 9999;
    position: fixed;
    top: 0;
    color: #fff;
    transform: scaleX(0);
    width: 100vw;
    opacity: 0;
    transition: all ease-in 0.3s;
    height: 100vh;
    background: #00334d;
}
.nav-menu--row {
    padding: 3rem 10rem;
  }
  .nav-menu > * {
    color:  #ab7d23;
  }
 
  .close-nav-menu--btn {
      font-weight: bolder;
    cursor: pointer;
  }
  .nav-menu--btn {
    cursor: pointer;
  }
  .nav-menu--btn:hover {
    color:#BE851E;
    cursor: pointer;
  }
  .contact-menu--btn:hover {
    color:#BE851E;
    /* #00334D */
  }
  .contact-menu--btn--bottom:hover {
    background:#00334D;
    color:#fff;
  }
  .contact-menu--row {
    transform: translateX(-100px);
    opacity: 0.3;
    transition: all ease-in 0.7s;
  }
  .nav-list >li a:hover {
color:#BE851E !important;
  }
  
  .nav-row{
    transform: translateX(-100px);
    opacity: 0.3;
    transition: all ease-in 0.7s;
  }
  .main-heading > *{
    color:  #ab7d23;
  }
  .main-heading {
      margin-top: 10rem;
  }
  .brand-row {
      margin-top:5%;
  }
  .brand-text {
      margin-left:.5rem;
      margin-top: 1rem;
      text-align: left;
      font: Book 20px/29px FreightText Pro;
      letter-spacing: 0;
      color: #E6D2AC;
      line-height: 1.6;
  }
  input[type=text] {
    border: none;
    padding: 2px;
    padding-bottom: 5px;
    width: 100%;
    border-bottom:1px solid #ab7d23;
    background-color: transparent;
    outline: 0;

   
  }
  input::placeholder {
      color:#ab7d23;
  }
  input[type=text]:focus {
    border: none;
    background-color:transparent;
  border-bottom:1px solid #ab7d23;
    outline: 0;
  }
  .contact-field {
    margin-top:10%;
  }
  .contact-filed-title {
    margin-top:10%;
  }
  .custom-link{
    position: absolute;
    top:0;
  }
  .white-line {
      position: absolute;
      height: 100vh;
      top:0;
        left:45%;
      width: .5px;
      background: rgba(255, 255, 255, 0.616)
  }
  .nav-row{
      margin-top: 30vh;
      text-align: center;

  }
  .nav-row ul li > a{
      font-size: 24px;
    margin-right: 25px;
    
    
}
.nav-press {
    display: block;
    margin:40px 0px 20px 0px;
}

@media(max-width :768px) {
  .contact-menu {
    overflow-y:auto;
}
}
.nav__title .text-up {
  writing-mode: vertical-rl !important;
text-orientation: mixed !important;
}