.contact-menu--btn {
  color: #00334d;
  cursor: pointer;
}
.contact-menu {
  font-family: "Freight Medium";
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  color: #fff;
  transform: scaleX(0);
  width: 100vw;
  opacity: 0;
  transition: all ease-in 0.3s;
  height: 100vh;
  background: #00334d;
}

.contact-menu > * {
  color: #fff;
}
.contact-menu--row {
  /* padding: 3rem 10rem; */
  padding: 5vh 10vw 2vh 10vw;
}
.close-contact-menu--btn {
  font-weight: bolder;
  cursor: pointer;
}
.left-contact--form > * {
  font-family: "Freight Medium";
  color: #ab7d23;
}
.brand-image {
  height: 173px !important;
  width: 160px !important;
  transform: translateX(-30px);
  transition: all ease-in 0.5s;
}
/* NAV MENU */
.nav-menu {
  z-index: 9999;
  position: fixed;
  top: 0;
  left:0;
  color: #fff;
  transform: scaleX(0);
  width: 100vw;
  opacity: 0;
  transition: all ease-in 0.3s;
  height: 100vh;
  background: #00334d;
}
.footer-social-grid {
  padding: 0px;
}
.nav-menu--row {
  padding: 3rem 10rem;
}
.nav-menu > * {
  color: #ab7d23;
}
.footer-social {
  color: #ab7d23;
}
.footer-press {
  color: #ab7d23;
}
.close-nav-menu--btn {
  font-weight: bolder;
  cursor: pointer;
}
.nav-menu--btn {
  color: #00334d;
  cursor: pointer;
}
.nav-menu--btn:hover {
  color: #be851e;
  cursor: pointer;
}
.contact-menu--btn:hover {
  color: #be851e;
  /* #00334D */
}
/* .contact-menu--btn--bottom:hover {
  background: #00334d;
  color: #fff;
} */
.paused {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
.contact-menu--row {
  /* transform: translateX(-100px); */
  opacity: 0;
  transition: all ease-in 1s;
}
.nav-list > li a:hover {
  color: #be851e !important;
}
.footer_ul > li a:hover {
  color: #be851e !important;
}

.nav-row {
  /* transform: translateX(-100px); */
  opacity: 0;
  transition: all ease-in 1s;
}
.main-heading > * {
  
  color: #ab7d23;
}
.main-heading {
  margin-top: 12rem;
}
.main-heading h6 {
  font-family: 'Proxima Nova Bold';
 margin-bottom: 0px
}
.main-heading h3 {
  font-size: 28px
  /* margin-bottom: 0px */
 }
.brand-row {
  margin-top: 5%;
}
.brand-text {
  margin-left: 0.5rem;
  margin-top: 2rem;
  word-spacing: 4px;
  text-align: left;
  font-family: "Noto Serif", serif;
  color: #e6d2ac;
  font-size: 20px;
  font-family: "Freight Medium";
  line-height: 1.6;

}
input[type="text"] {
  border: none;
  padding: 2px;
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 1px solid #ab7d23;
  background-color: transparent;
  outline: 0;
}
input::placeholder {
  color: #ab7d23;
}
input[type="text"]:focus {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ab7d23;
  outline: 0;
}
.contact-field {
  margin-top: 10%;
}
.contact-filed-title {
  margin-top: 10%;
}
.rl-timeline {
  padding-top: 60px;
}
.text-blog {
  color: #00334d;
}
.custom-link {
  position: absolute;
  top: 0;
}
.white-line {
  position: absolute;
  height: 0vh;

  left: 49vw;
  width: 0.5px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.616);
  transition: all ease-in 0.5s;
}
/* @keyframes fastline {
  0%{
height: 0vh;
  }
  50%{
    height: 0vh;
  }
  75%{
    height: 75vh;
  }
  100% {
    height: 100vh;
  }
} */
.white-line-2 {
  position: absolute;
  height: 0vh;
  top: 0;
  left: 49vw;
  width: 0.5px;
  animation: fastline 1s;
  background: rgba(255, 255, 255, 0.616);
  transition: all ease-in 0.5s;
}
.nav-row {
  margin-top: 30vh;
  text-align: center;
}
.nav-row ul li > a {
  font-size: 24px;
  margin-right: 25px;
}
.footer_container {
  padding: 35px 100px;
}
.nav-press {
  display: block;
  margin: 40px 0px 20px 0px;
}
.close-contact-menu--btn--mobile {
  display: none;
}

.item-1-mobile {
  display: none !important;
}
.item-1-mobile-heading {
  text-align: left;
  margin: 0px !important;
  padding: 15px 25px;
}
.item-1-mobile-text {
  margin: 0px !important;
  padding: 0px 25px;
}
.section-5-mobile {
  display: none;
}
#hamburger-1 {
  display: none !important;
}
@media (max-width: 768px) {
  .contact-menu {
    overflow-y: auto;
  }
  .web-only {
    display: none;
  }
  .rl-timeline {
    padding-top: 0px;
  }
  .close-contact-menu--btn--mobile {
    display: block;
    /* position: absolute;
  top:10px;
right:10px; */
  }
  .close-contact-menu--btn {
    display: none;
  }
  .white-line {
    display: none;
  }
  .white-line-2 {
    display: none;
  }
  .mobile-field-margin {
    margin-top: 50px;
  }
  .left-contact--form {
    text-align: center;
  }
  .mobile-appointments {
    text-align: left;
  }

  .contact-info {
    display: none;
  }
  .nav-list li > a {
    display: block;
    margin-top: 20px;
  }
  .nav-row {
    margin-top: 5vh;
  }
  .nav-menu--row {
    padding: 3rem;
  }
  /* HOME PAGE */

  .nav-menu--btn {
    position: absolute;
    top: 21%;
    left: -18%;
  }
  .nav-menu--text {
    display: none;
  }
  .contact-menu--btn--mobile {
    position: absolute;
    top: 16%;
    right: -18%;
  }
  .contact-menu--text {
    display: none;
  }
  .item-1-mobile {
    display: block;
  }
  .section1-text > * {
    display: none !important;
  }
  .click-to-action-mobile {
    display: none;
  }
  .footer_ul li > a {
    display: block;
    text-align: center;
  }
  .footer_ul {
    margin-left: 7% !important;
  }
  .footer_container {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .social_profile {
    margin: 0px;
    text-align: center;
    margin-left: 7%;
    margin-bottom: 20px;
  }
  .footer-brand {
    text-align: center;
  }
  .footer-brand .img-icon--arrow {
    display: none;
  }
  .section-4-mobile-heading {
    margin-left: 32px;
  }
  .section-5-mobile-heading {
    position: relative;
    text-align: center;
    font-size: 31px;
    color: #be851e;
    padding: 0px 10px;
    font-family: "Freight Medium";
  }
  .section-5-mobile {
    display: block !important;
  }
  .section5 {
    display: none !important;
  }
  #section3
    > div.third-section
    > div.item-2
    > div:nth-child(1)
    > ul
    > li.first-btn {
    display: none;
  }
  .footer-social-grid {
    padding-left: 25px;
  }
  #hamburger-1 {
    display: block !important;
  }
  #nav-img-logo {
    transform: scale(0.8);
  }
  .nav-icon,
  .nav-icon--hover {
    position: absolute;
    top: -20%;
    left: 41%;
    clip: rect(0px, 25px, 200px, 0px);
  }
}
.section1 {
  /* padding-top: 60px; */
}
.nav__title .text-up {
  writing-mode: vertical-rl !important;
  text-orientation: mixed !important;
}
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  white-space: nowrap;

}
/* CUSTOM SELECT */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: transparent;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #AB7D23 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #AB7D23 transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #AB7D23;
  padding: 8px 0px;
  border: 1px solid transparent;
  border-color: transparent transparent #AB7D23 transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #00334D;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}